@charset "UTF-8";

body {
    background-color: rgb(70, 142, 236);
    font-weight: normal;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.36);
}

p#botao {
    margin-top: 50px;
    text-align: center;
}

input {
    border: none;
    outline: none;
    background-color: rgb(237, 236, 236);
    font-size: .8em;
}

input[type=number] {
    padding: 10px;
    border-radius: 8px;
}

input[type=number]:hover, input[type=number]:focus {
    background-color: rgb(231, 230, 230);
}

input[type="button"] {
    border-radius: 20px;
    color: white;
    background-color: rgb(70, 142, 236);
    padding: 10px 20px;
    font-weight: bold;
}

input[type="button"]:hover {
    background-color: rgb(14, 106, 226);
}


img {
    margin: 20px 0px;
    border-radius: 20%;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
